body {
  font-family: 'DM Sans', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

a {
  background-color: transparent;
  color: #d9000d;
  text-decoration: none;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section.full-height {
  height: 100vh;
}

.section.full-height.vert-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.full-height.vert-center.photo-background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/zurich-5.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/zurich-5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
  color: #fff;
}

.section.grey-background {
  padding-top: 100px;
  background-color: #f8f8f8;
}

.section.page-title {
  padding-top: 160px;
}

.section.small {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.photo-background {
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.32)), to(rgba(0, 0, 0, 0.32))), url('../images/parallax.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url('../images/parallax.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  color: #fff;
}

.section.mb0 {
  padding-bottom: 0px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.container.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.align-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.container.narrow {
  max-width: 1000px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.mt-30 {
  margin-top: 30px;
  margin-right: -15px;
}

.row.dont-wrap {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.row.dark-background {
  margin-top: 20px;
  padding: 20px 20px 10px;
  border-radius: 3px;
  background-color: #222;
  color: #fff;
}

.col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col._1-3 {
  width: 33.333333333333336%;
}

.col._1-3.align-center {
  text-align: center;
}

.col._1-3.on-sides {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.col._1-3.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col._1-3.vert-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col._1-3.vert-center.align-right {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.col.auto {
  width: auto;
}

.col._2-3 {
  width: 66.66666666666667%;
}

.col._1-2 {
  width: 50%;
}

.col._1-2.vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.speaker-image {
  margin-right: 20px;
  border-radius: 50%;
}

.speaker-image.main {
  margin-right: 40px;
}

.schedule-speaker-image {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #d9000d;
  border-radius: 50%;
}

.schedule-speaker-name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.schedule-speaker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #222;
  text-decoration: none;
}

.schedule-speaker:hover {
  opacity: 0.8;
}

.banner-content {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

.button {
  display: none;
  margin-top: 20px;
  padding: 16px 24px;
  border-style: solid;
  border-width: 2px;
  border-color: #d9000d;
  border-radius: 30px;
  background-color: #d9000d;
  -webkit-transition: background-color 200ms ease, border-color 200ms ease;
  transition: background-color 200ms ease, border-color 200ms ease;
  color: #fff;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  white-space: normal;
}

.button:hover {
  border-color: #d9000d;
  background-color: #d9000d;
  color: #222;
}

.button.border {
  background-color: #d9000d;
  color: #fff;
}

.button.border:hover {
  border-color: #d9000d;
}

.button.border.reversed {
  margin-top: 20px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.button.border.reversed:hover {
  background-color: #fff;
  color: #222;
}

.button.reversed {
  display: block;
  margin-top: 10px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-color: #fff;
  background-color: #fff;
  color: #222;
  text-align: center;
}

.button.reversed:hover {
  background-color: transparent;
  color: #fff;
}

.button.submit {
  display: inline-block;
  margin-top: 10px;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 20px;
  right: 0%;
  bottom: auto;
  z-index: 5;
  width: 100%;
}

.tab-link {
  border-bottom: 2px solid transparent;
  background-color: transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.tab-link:hover {
  border-bottom-color: rgba(217, 0, 13, 0.6);
}

.tab-link.w--current {
  border-bottom: 2px solid #f0ea5e;
  background-color: transparent;
  color: #222;
}

.nav {
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);
}

.banner-socials {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 50px;
}

.socials-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.socials-wrapper.footer-socials {
  padding-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-image {
  height: 18px;
}

.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-link:hover {
  opacity: 0.8;
}

.about-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url('../images/about1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/about1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  color: #fff;
  text-decoration: none;
}

.about-wrapper:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.about-wrapper._2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url('../images/about2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../images/about2.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
}

.about-wrapper._3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.22)), to(rgba(0, 0, 0, 0.22))), url('../images/about3.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), url('../images/about3.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, auto;
}

.about-wrapper-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 10px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-size: 12px;
  font-weight: 500;
}

.nav-link:hover {
  border-bottom-color: #f0ea5e;
}

.nav-link.w--current {
  border-bottom: 2px solid #f0ea5e;
  color: #222;
}

.nav-link.apply {
  margin-left: 5px;
  padding-right: 18px;
  padding-left: 18px;
  border-style: none;
  border-width: 2px;
  border-color: #d9000d;
  border-radius: 30px;
  background-color: #f0ea5e;
  -webkit-transition: border-color 200ms ease, background-color 200ms ease;
  transition: border-color 200ms ease, background-color 200ms ease;
  color: #222;
}

.nav-link.apply:hover {
  background-color: transparent;
  color: #222;
}

.nav-link.apply.w--current {
  background-color: transparent;
  color: #d9000d;
}

.section-title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-title-wrapper.mb15 {
  margin-bottom: 15px;
}

.section-title-wrapper.mb40 {
  margin-bottom: 40px;
}

.title-line {
  height: 2px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f0ea5e;
}

.section-title {
  max-width: 500px;
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 36px;
}

.section-title.category {
  font-size: 24px;
}

.white-bckg-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 5px 10px;
  padding: 15px 20px 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.34);
}

.time {
  width: 90px;
  margin-top: 0px;
  padding-right: 10px;
}

.event-name {
  margin-top: 0px;
  margin-bottom: 5px;
}

.tabs-menu {
  margin-bottom: 25px;
}

.event-text {
  width: 100%;
  max-width: 300px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #222;
}

.event-text:hover {
  opacity: 0.8;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.speaker-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.speaker-name {
  margin-top: 0px;
  margin-bottom: 3px;
}

.footer {
  background-color: #fff;
}

.mb70 {
  margin-bottom: 70px;
}

.sponsor-wrapper {
  margin-right: 0px;
  margin-bottom: 30px;
  padding: 40px 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.sponsor-image {
  width: 75px;
}

.subpage-content {
  max-width: 740px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
}

.other-title {
  margin-bottom: 60px;
}

.company {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 0px;
  color: #222;
}

.mb20 {
  margin-bottom: 20px;
}

.shadow-wrapper {
  height: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28);
}

.cta-text {
  max-width: 460px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  color: #222;
}

.slider-button:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.slider-button.slider-button-left {
  left: auto;
  top: auto;
  right: 123px;
  bottom: -24px;
}

.slider-button.slider-button-right {
  left: auto;
  top: auto;
  right: 57px;
  bottom: -24px;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
}

.hide {
  display: none;
}

.full-size {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider {
  height: 420px;
}

.paragraph-large {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 400;
  text-align: justify;
}

.gallery-content {
  width: 100%;
}

.align-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.about-content {
  max-width: 1500px;
  margin-bottom: 70px;
  text-align: justify;
}

.icon {
  height: 20px;
}

.brand {
  height: 60%;
  padding-left: 0px;
}

.brand.w--current {
  color: #f0ea5e;
}

.price-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.price {
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-title {
  margin-top: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer-logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.get-in-touch {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #8c8c92;
}

.mail {
  color: #222;
  font-weight: 500;
}

.speaker-company {
  margin-top: 0px;
  margin-bottom: 7px;
}

.image {
  height: 100%;
}

.nav-brand {
  padding-left: 0px;
}

.lofo-footer {
  height: 35px;
  margin-bottom: 5px;
}

.speaker-events {
  margin-bottom: 30px;
}

.day {
  width: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 10px;
}

.schedule-name {
  margin-bottom: 40px;
}

.info-title {
  margin-top: 50px;
  margin-bottom: 40px;
}

.block-content-700 {
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.space-single {
  height: 1px;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: #cfcfcf;
}

.color {
  height: 100px;
  border-radius: 8px;
}

.color.primary {
  background-color: #f0ea5e;
}

.color.black {
  background-color: #222;
}

.color.grey {
  background-color: #f8f8f8;
}

.changelog-date {
  margin-bottom: 0px;
}

.shadow-wrapper-page {
  height: 100%;
  padding: 50px 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.28);
}

.photo-license {
  height: 120px;
  border-radius: 8px;
}

.photo-license._1 {
  background-image: url('../images/about3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.photo-license._2 {
  background-image: url('../images/about1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.photo-license._3 {
  background-image: url('../images/about2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #d9000d;
}

.text-field.area {
  width: 100%;
  height: 150px;
  max-width: 100%;
  min-height: 150px;
  min-width: 100%;
  padding-top: 15px;
}

.form {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.accordion-item-trigger:hover {
  opacity: 0.8;
}

.accordion-item-content {
  overflow: hidden;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-question {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
}

.more {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
}

.more:hover {
  border-bottom-color: #d9000d;
}

.success-message {
  border-style: solid;
  border-width: 2px;
  border-color: #d9000d;
  border-radius: 3px;
  background-color: #fff;
}

.form-block {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.error-message {
  margin-top: 25px;
  padding: 20px;
  border-radius: 3px;
}

.main-speaker {
  margin-bottom: 60px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 7px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.22);
}

.main-speaker-photo {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 35%;
  object-position: 50% 35%;
}

.main-speaker-title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.main-speaker-info {
  max-width: 300px;
  margin-bottom: 15px;
}

.main-speaker-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery-image {
  width: 100%;
  margin-bottom: 30px;
}

.div-block-3 {
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px -2px #000;
}

.bold-text {
  color: #8c8c92;
  font-size: 20px;
}

.bold-text-2 {
  color: #8c8c92;
  font-size: 20px;
}

.bold-text-3 {
  color: #8c8c92;
  font-size: 20px;
}

.bold-text-4 {
  color: #8c8c92;
  font-size: 20px;
}

.heading {
  color: #240909;
}

.text-span {
  color: #8c8c92;
  font-weight: 400;
}

.heading-2 {
  color: #8c8c92;
  font-weight: 400;
}

.heading-3 {
  color: #8c8c92;
  font-weight: 400;
}

.heading-4 {
  color: #8c8c92;
  font-weight: 400;
}

.paragraph {
  margin-left: 40px;
}

.paragraph-2 {
  font-size: 0px;
}

.column {
  padding-right: 0px;
  background-color: #f8e131;
}

.column-2 {
  background-color: #3f3f42;
}

.column-3 {
  background-color: #f8e131;
}

.column-4 {
  background-color: #3f3f42;
}

.heading-5 {
  padding-top: 12px;
  color: #222;
  text-align: center;
}

.heading-6 {
  color: #222;
  text-align: center;
}

.heading-7 {
  color: #222;
  text-align: center;
}

.heading-8 {
  color: #222;
  text-align: center;
}

.section-2 {
  background-color: transparent;
}

.div-block-4 {
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  border-radius: 10px;
  background-color: #f0ea5e;
  background-clip: border-box;
}

.heading-9 {
  text-align: center;
}

.rich-text-block {
  text-align: left;
}

.paragraph-3 {
  margin-top: 20px;
  font-size: 16px;
  text-align: justify;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.list-item {
  list-style-type: disc;
}

.list {
  font-size: 16px;
  list-style-type: decimal;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-5 {
  min-width: 700px;
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.list-item-2 {
  list-style-type: decimal;
}

.paragraph-4 {
  color: #d9000d;
  font-size: 18px;
}

.paragraph-5 {
  color: #d9000d;
}

.rich-text-block-2 {
  text-align: justify;
}

.paragraph-6 {
  text-align: justify;
}

.paragraph-7 {
  text-align: justify;
}

.list-item-3 {
  text-align: justify;
}

.block-quote {
  font-size: 16px;
}

.block-quote-2 {
  color: #222;
  font-size: 17px;
  text-align: justify;
}

.body {
  background-color: #f0ea5e;
}

.list-item-4 {
  list-style-type: disc;
}

.list-item-5 {
  list-style-type: disc;
}

.text-block {
  text-transform: uppercase;
}

.heading-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.column-5 {
  margin-top: 40px;
}

.column-6 {
  margin-top: 40px;
  padding-top: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.column-7 {
  margin-top: 40px;
}

.column-8 {
  margin-top: 40px;
}

.column-9 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.heading-11 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-left: 5px solid #f0ea5e;
  color: #8c8c92;
  font-weight: 500;
}

.column-10 {
  display: block;
  margin-top: 0px;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-12 {
  padding-top: 10px;
}

.paragraph-8 {
  color: #8c8c92;
}

.bold-text-5 {
  color: #8c8c92;
  font-weight: 500;
}

.section-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}

.list-item-6 {
  font-weight: 500;
}

.list-item-6.paragraph-large {
  font-weight: 400;
  text-align: left;
}

.list-item-7 {
  font-weight: 500;
}

.list-item-7.paragraph-large {
  font-weight: 400;
  text-align: left;
}

.link {
  color: #d9000d;
}

.paragraph-9 {
  font-weight: 500;
}

.paragraph-9.paragraph-large {
  display: inline-block;
  overflow: visible;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.paragraph-9.paragraph-large.last_submission_paragraph {
  display: block;
  overflow: visible;
  margin-bottom: 40px;
  text-align: justify;
  background-clip: border-box;
}

.list-item-8 {
  font-weight: 500;
}

.list-item-8.paragraph-large {
  font-size: 16px;
  font-weight: 400;
}

.list-item-9 {
  font-weight: 500;
}

.list-item-9.paragraph-large {
  margin-bottom: 42px;
  font-size: 16px;
  font-weight: 400;
}

.section_top {
  margin-top: 20px;
  border-bottom: 1px solid #8c8c92;
}

.paragraph-10 {
  text-align: justify;
}

.paragraph-10.paragraph-large {
  margin-top: 40px;
  color: #d9000d;
  font-size: 18px;
  font-weight: 700;
}

.section_btm {
  margin-top: 20px;
}

.paragraph-11 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-4 {
  margin-right: 30px;
  margin-left: 30px;
}

.bold-text-6 {
  color: #222;
  font-size: 20px;
}

.bold-text-7 {
  color: #222;
  font-size: 20px;
}

.bold-text-8 {
  color: #222;
  font-size: 20px;
}

.text-span-2 {
  color: #d9000d;
  font-weight: 400;
}

.text-span-3 {
  color: #d9000d;
}

.heading-13 {
  color: #222;
  font-size: 18px;
  font-weight: 400;
}

.news {
  color: #222;
  font-size: 16px;
  text-align: justify;
}

.paragraph-12 {
  font-size: 16px;
  font-weight: 500;
  text-align: justify;
}

.column-11 {
  padding-top: 0px;
}

.paragraph-13 {
  color: #3f6e7c;
}

.text-span-4 {
  color: #d9000d;
}

.text-block-2 {
  color: #d9000d;
}

.text-span-5 {
  color: #d9000d;
  font-weight: 400;
}

.section-5 {
  border-bottom: 1px solid #000;
}

.text-block-3 {
  font-size: 24px;
}

.bold-text-9 {
  font-size: 24px;
}

.div-block-program {
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px -2px #000;
}

.heading-13-program {
  color: #8c8c92;
  font-size: 18px;
  font-weight: 400;
}

.program-sections {
  margin-top: 30px;
}

.bold-text-program {
  margin-top: -15px;
  color: #222;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.bold-text-program-header {
  color: #222;
  font-size: 22px;
  font-weight: 500;
}

.container-program {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.container-program.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-program.align-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.container-program.narrow {
  max-width: 1000px;
}

.heading-14 {
  display: none;
  font-size: 20px;
  font-weight: 500;
}

.image-2 {
  position: static;
  display: inline-block;
  overflow: visible;
  margin-right: 20px;
  margin-bottom: 40px;
  float: left;
  clear: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.bold-text-10 {
  text-transform: capitalize;
}

.bold-text-11 {
  font-weight: 500;
}

.heading-15 {
  color: #8c8c92;
  font-weight: 400;
}

.heading-11-program {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-left: 5px solid #f0ea5e;
  color: #8c8c92;
  font-size: 14px;
  font-weight: 400;
}

.link-2 {
  font-weight: 700;
}

.heading-16 {
  color: #d9000d;
  font-size: 14px;
}

.bold-text-chair {
  margin-top: 5px;
  border: 1px solid transparent;
  color: #8c8c92;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.paragraph-14 {
  color: #d9000d;
  font-size: 14px;
  font-weight: 500;
}

.paragraph-14.paragraph-large {
  display: inline-block;
  overflow: visible;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

.paragraph-14.paragraph-large.last_submission_paragraph {
  display: block;
  overflow: visible;
  margin-bottom: 40px;
  text-align: justify;
  background-clip: border-box;
}

.heading-17 {
  color: #d9000d;
  font-size: 14px;
}

.heading-18 {
  color: #d9000d;
  font-size: 14px;
}

.heading-19 {
  color: #d9000d;
  font-size: 14px;
}

.heading-20 {
  color: #d9000d;
}

.heading-21 {
  color: #d9000d;
  font-size: 14px;
}

.heading-22 {
  color: #d9000d;
  font-size: 14px;
}

.heading-23 {
  color: #d9000d;
  font-size: 14px;
}

.heading-24 {
  color: #d9000d;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .section.full-height.vert-center.photo-background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/zurich-5.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/zurich-5.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .section.page-title {
    padding-top: 120px;
  }

  .container.nav-container {
    padding-left: 30px;
  }

  .container.nav-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row.dont-wrap {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .col._1-3.md-1-2 {
    width: 50%;
  }

  .navigation {
    top: 0px;
  }

  .nav {
    width: 100%;
    border-radius: 0px;
  }

  .about-wrapper {
    height: 200px;
  }

  .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
  }

  .nav-link.apply {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
  }

  .nav-link.apply:hover {
    color: #fff;
  }

  .nav-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #8c8c92;
  }

  .menu-button {
    position: absolute;
    left: auto;
    top: 0%;
    right: 12px;
    bottom: 0%;
    z-index: 999;
    color: #222;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .nav-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-logo-wrapper {
    max-width: 200px;
  }

  .main-speaker {
    padding-right: 20px;
    padding-left: 20px;
  }

  .column-10 {
    padding-top: 0px;
  }

  .program-sections {
    margin-top: 30px;
  }

  .container-program.nav-container {
    padding-left: 30px;
  }

  .container-program.nav-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.full-height.vert-center.photo-background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/zurich-5.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/zurich-5.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }

  .col._1-3 {
    width: 100%;
  }

  .col._1-3.md-1-2.mb-1 {
    width: 100%;
  }

  .col._1-3.center {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .col._1-3.vert-center.align-right {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .col._2-3 {
    width: 100%;
  }

  .col._1-2 {
    width: 100%;
  }

  .button.mob-mb-40 {
    margin-bottom: 40px;
  }

  .socials-wrapper.footer-socials {
    margin-top: 10px;
  }

  .social-link {
    margin-right: 15px;
    margin-left: 0px;
  }

  .about-wrapper {
    margin-bottom: 20px;
  }

  .section-title-wrapper.mb40 {
    margin-bottom: 20px;
  }

  .div-block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .shadow-wrapper {
    height: auto;
    margin-bottom: 20px;
  }

  .nav-menu {
    background-color: #8c8c92;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .gallery-content {
    margin-bottom: 25px;
  }

  .align-right.mobile-left {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-logo-wrapper {
    max-width: 250px;
  }

  .get-in-touch {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .schedule-name {
    margin-bottom: 30px;
  }

  .shadow-wrapper-page {
    height: auto;
    margin-bottom: 20px;
  }

  .main-speaker-photo {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main-speaker-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .main-speaker-content {
    padding-bottom: 20px;
  }

  .feature-section {
    padding: 40px 20px;
  }

  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .feature-image-mask {
    margin-right: 0px;
  }

  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph-11 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 34px;
    line-height: 38px;
  }

  .section {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .section.full-height.vert-center.photo-background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/zurich-5.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/zurich-5.jpg');
  }

  .section.page-title {
    padding-top: 90px;
  }

  .container {
    display: block;
    padding-right: 5px;
    padding-left: 5px;
    clear: none;
  }

  .col._1-3.md-1-2 {
    width: 100%;
  }

  .speaker-image {
    max-height: 100px;
    max-width: 100px;
    margin-bottom: 15px;
  }

  .tab-link {
    padding-right: 10px;
    padding-left: 10px;
  }

  .banner-socials {
    bottom: 30px;
  }

  .social-link {
    margin-right: 0px;
    margin-left: 15px;
  }

  .nav-link.w--current {
    border-bottom-color: #fff;
    color: #fff;
  }

  .nav-link.apply.w--current {
    color: #fff;
  }

  .section-title-wrapper {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .white-bckg-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .speaker-wrapper {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .other-title {
    margin-bottom: 30px;
  }

  .nav-menu {
    background-color: #8c8c92;
  }

  .slider-button.slider-button-left {
    right: 85px;
  }

  .slider-button.slider-button-right {
    right: 20px;
  }

  .slider {
    height: 240px;
  }

  .paragraph-large {
    font-size: 16px;
  }

  .gallery-content {
    margin-bottom: 10px;
  }

  .align-right {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .brand.w--current {
    color: #f0ea5e;
  }

  .banner-title {
    position: static;
    display: block;
    max-width: 600px;
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    font-weight: 700;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .schedule-name {
    margin-bottom: 10px;
  }

  .shadow-wrapper-page {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .accordion-question {
    padding-right: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  .main-speaker-photo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .bold-text {
    font-size: 18px;
  }

  .bold-text-3 {
    font-size: 18px;
  }

  .text-span {
    font-size: 16px;
  }

  .heading-3 {
    font-size: 16px;
  }

  .column-10 {
    padding-top: 0px;
  }

  .paragraph-9.paragraph-large {
    font-size: 16px;
    text-align: center;
    white-space: pre-line;
  }

  .paragraph-9.paragraph-large.last_submission_paragraph {
    font-size: 16px;
    text-align: center;
    white-space: pre-line;
  }

  .div-block-6 {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .bold-text-6 {
    font-size: 18px;
  }

  .bold-text-8 {
    font-size: 18px;
  }

  .heading-13 {
    font-size: 16px;
  }

  .text-span-5 {
    font-size: 16px;
  }

  .heading-13-program {
    font-size: 16px;
  }

  .bold-text-program {
    font-size: 18px;
    text-align: left;
    white-space: pre-line;
  }

  .container-program {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    clear: none;
  }

  .bold-text-10 {
    text-align: left;
  }

  .heading-16 {
    font-size: 16px;
  }

  .bold-text-chair {
    font-size: 14px;
    text-align: left;
    white-space: pre-line;
  }

  .paragraph-14.paragraph-large {
    font-size: 16px;
    text-align: center;
    white-space: pre-line;
  }

  .paragraph-14.paragraph-large.last_submission_paragraph {
    font-size: 16px;
    text-align: center;
    white-space: pre-line;
  }
}

